<h1>Restaurants</h1>

<% if can? :manage, @restaurant %>
<div><%=link_to "add restaurant", new_restaurant_path %> </div>
<% end %>

<br>

<% @restaurants.each_with_index do |restaurant, index| %>
<div>
<br>
    <p><%= restaurant.title %> - <%= restaurant.food_type %> <%= link_to "show", restaurant_path(restaurant.id) %>
    </p>


    <% if restaurant.reviews.empty? %>
        <p>
        <span>There are no reviews</span>
        <%= link_to "Leave one", restaurant_path(restaurant.id) %>
        </p>
    <% else %>
        <p>
        Reviews: <%= restaurant.reviews.count %>
        <br>
        Average Rating: <%= restaurant.average_rating %>
        </p>
    <% end %>
</div>
<br>
<br>
<hr>

    <% end %>